libs/__pycache__/
libs/data/
wandb/
notebooks/wandb/
__pycache__/
signalstore/
aws/
notebooks/test/
notebooks/data/
notebooks/eeg-ssl-voyager/
**/lightning_logs/
**/data/
**/.ipynb_checkpoints/
**/checkpoints/
data/
.env
